
header{
    text-decoration: none;
}

#header img{
    
    float: left;
}
#background{
    height: 400px;
    width: 100%;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: 100% 400px;
}
hr{
    background-color: tomato;
}
br{
    background-color: tomato;
}

.social > a{
    text-decoration: none;
}
h1{
    height: 40px;
    background-size: 100% 40px;
    color: black;
    text-align: center;
    font-style: italic;
}
.AboutMe{
    height: 200px;
    width: 20%;
    text-align: center;
    float:left;
    float:inline-start;
}
.AboutMe>img{
    width:200px; 
    height:200px;
}
#information{
    color: black; 
    font-size: 30px;
    text-align: center;
    font-style: italic;
    height: 200px;
}


/*skills*/
.skills{
    text-align: center;
    height: 100px;
    background-size: 100% 100px;
    margin: 2% 2%;
}
.skills> img
{
    width: 100px;
    height: 100px;
}


/*
.map{
    height: 350px;
   
   
   
}
*/
.form{
    text-align: center;
    font-style: italic;
}


#fullpage{
    width:100%;
    display:inline-block;
}
.social
{
    float:center;
}
.slogo
{
    height: 50px;
    width: 50px;
}
.card:hover{
    transform: scale(1.1);
}
@media  screen and (max-width:1600px) {
   
    
}
@media  screen and (max-width:1400px) {
   
    .quali> img {
        width:150px;
        height:200px;
    }
    .quali> p{
        font-size: 18px;
    }
    .hobbies> img{
        height: 200px;
        width:150px;
        font-size: 29px;
    }


}
@media  screen and (max-width:1200px) {
    
    .quali> img {
        width: 121px;
        height: 200px;
    }
    .quali>p{
        font-size: 16px;
    }
    .quali>span{
        font-size: 26px;
    }
    .hobbies{
        font-size: 26px;
    }
    
}
@media  screen and (max-width:1000px) {
   
    .AboutMe>img{
        width: 150px;
         height:200px;
    }
    .quali> img {
        width: 102px;
        height: 200px;
    }
    .quali>span {
        font-size: 19px;
    }
    .quali>p {
        font-size: 14px;
    }
    .hobbies>img{
        width: 108px;

    }
   


}
@media  screen and (max-width:800px) {
   
    .AboutMe>img {
        width: 126px;
        height: 174px;
    }
    #information{
        font-size: 27px;
    }
    .quali> img {
        width: 73px;
    }
    .quali>span {
        font-size: 15px;
    }
    .quali>p{
        font-size: 13px
    }
    .hobbies>img {
        width: 85px;
    }
    .hobbies {
        font-size: 22px;
    }

    
    
    
}
@media  screen and (max-width:600px) {
   
    .AboutMe>img {
        width: 97px;
        height: 148px;
    }
    #information {
        font-size: 25px;
    }
   
    .quali> img {
        width: 59px;
    }
    .quali>span {
        font-size: 11px;
    }
    .quali>p {
        font-size: 10px;
    }
    .hobbies{
        font-size: 18px;
       
    }
    .hobbies>img {
        width: 73px;
    }
}

/*Media screen for Phone
@media  screen and (max-width:500px) {
    .quali{
        display: block;
    }
    
}
*/
